*{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
}
.fundo{
    background-color:mediumaquamarine;
    height: 100vh; 
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.calculadora{
    position: absolute;
    background-color: #008080;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}
 
.botao{
   width: 50px; 
   height: 50px;
   font-size: 25px;
   cursor: pointer;
   background-color: white;
   border: none;
   color: lightskyblue;
   border-radius: 15px;
}
.botao:hover{
    background-color:#ADD8E6;
}

#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    color: black;
    text-align: right;
    padding: 5px;
    border-radius: 15px;
}
